body {
    background: #D8D8D8;
}

.navbar-nav a{
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}
.logo {
    background-color: #fff;
    border-radius: 2px;
}
.icons a {
    color: #fff;
    margin-right: 10px;
}
.icons i {
    font-size: 20px;
}
.ind,
.upper-indicator {
    position: absolute;
    bottom: -40px;
}
.ind li, 
.upper-indicator li{
   background-color:#949494;
   height: 2px;
   width: 40px;
}
.carousel {
    position: relative;
}

.slider-btn-left,
.slider-btn-right {
    position: absolute;
    background-color: #616161;
    border-radius: 50px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    border: 3px solid #fff;
    padding: 5px;
    
    

}

.slider-btn-left {
    left: -2em;
    top: 40%;
}
.slider-btn-right {
    right: -2em;
    top: 40%;
}
.target {
    position: relative;
}
.carousel-text {
    position: absolute;
    bottom: 10px;
}
.btn-add {
    background-color: #A1D242;
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.price {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
}
.game-list .card {
    margin-bottom: 10px;
}
/* .section-list {
    height: 120px;
} */
.card-title {
        font-size: 14px;
}
.product-info i {
    width: 13px;
    height: 13px;
}
.product-info {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price {
    font-size: 15px;
}
.section-wrapper {
    box-shadow: 0 -1px 0 0 rgba(64,64,64,.4), 
                0 1px 0 0 rgba(64,64,64,.4);
}
.explore {
    border-left: 1px solid rgba(64,64,64,.4);
}
.info-explore span {
    color: #86328a;
    font-weight: 500;
}
.pad-top {
    padding-top: 32px;
}

#multi-item-example {
    position: relative;
}
.left-arr {
    position: absolute;
    left: -1em;
    color: grey;
   
}
.right-arr {
    position: absolute;
    right: -1em;
    color: grey;
}

#multi-item-two-rows .card {
    margin: 10px;
}
.nav-2 a {
    color: grey;
    margin-left: 15px;
}
.list-games img{
   width: 100px;
   height: 50px;
}
.link {
    position: relative;
    text-decoration: none !important;
}
.active-color {
  color: #78387B !important;
  font-weight: 500;
  position: relative;
}
.active-color::after {
    content: '';
    position: absolute;
    width: 100% !important;
    height: 3px;
    margin-top: 5px;
    display: block;
    background-color: #78387B;
}
.link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    margin-top: 5px;
    display: block;
    background: #78387B;
    transition: all .5s ease;
    
}
.link:hover::after {
    width: 100%;
    left: 0;
    background: #78387B;
}
/* .list-games td:nth-child(2) {
    margin-left: ;
} */
.bord-top td {
    border-top: none;
}
.list-games td {
    border-bottom: 1px solid #949494;
}
footer {
    background-color: #262626;
    
}
.grid-img img {
    object-fit: cover;
}
.grid-img img:hover {
    opacity: 0.7;
    transition: all .5s ease;
}

.no-des {
   padding: 1px;
}
.footer-list a {
    margin-right: 16px;
}
.social a {
    margin-right: 10px;
}
.active-link {
    color: #86328a !important;
}
.download {
    background: url('https://menu-static.gog-statics.com/assets/img/galaxy_button_bg.jpg');
   width: 250px;
    height: 58px;
    padding-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.73), inset 0 0 3px 1px #A268BD;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.fa-download {
    position: absolute;
    left: 15px;
    bottom: 20px;
}
.list-menu-footer a {
    margin: 0 8px 9px;
}