body {
    background: #D8D8D8;
}

.navbar-nav a{
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}
.logo {
    background-color: #fff;
    border-radius: 2px;
}
.icons a {
    color: #fff;
    margin-right: 10px;
}
.icons i {
    font-size: 20px;
}
.ind,
.upper-indicator {
    position: absolute;
    bottom: -40px;
}
.ind li, 
.upper-indicator li{
   background-color:#949494;
   height: 2px;
   width: 40px;
}
.carousel {
    position: relative;
}

.slider-btn-left,
.slider-btn-right {
    position: absolute;
    background-color: #616161;
    border-radius: 50px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    border: 3px solid #fff;
    padding: 5px;
    
    

}

.slider-btn-left {
    left: -2em;
    top: 40%;
}
.slider-btn-right {
    right: -2em;
    top: 40%;
}
.target {
    position: relative;
}
.carousel-text {
    position: absolute;
    bottom: 10px;
}
.btn-add {
    background-color: #A1D242;
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.price {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
}

#multi-item-example-0 .card,
#multi-item-example .card {
    margin-bottom: 5px;
    margin-left: 5px;
}

#multi-item-example-0 .card-body { 
    padding: 0.5em;
}
#multi-item-example-0 .card-title {
    font-size: 12px;
}
/* #multi-item-example-0 img {
    height: 100px;
    object-fit: cover;
} */
.img-first-col {
    height: 80%;
    object-fit: cover;
}
.product-info i {
    width: 13px;
    height: 13px;
}
.product-info {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price {
    font-size: 15px;
}

.section-wrapper {
    box-shadow: 0 -1px 0 0 rgba(64,64,64,.4), 
                0 1px 0 0 rgba(64,64,64,.4);
}
.explore {
    border-left: 1px solid rgba(64,64,64,.4);
}
.info-explore span {
    color: #86328a;
    font-weight: 500;
}
.pad-top {
    padding-top: 32px;
}

#multi-item-example {
    position: relative;
}
.left-arr {
    position: absolute;
    left: -1em;
    color: grey;
   
}
.right-arr {
    position: absolute;
    right: -1em;
    color: grey;
}

#multi-item-two-rows .card {
    margin: 2.5px;
}
.nav-2 a {
    color: grey;
    margin-left: 15px;
}
.list-games img{
   width: 100px;
   height: 100%;
}
.link {
    position: relative;
    text-decoration: none !important;
}
.active-color {
  color: #78387B !important;
  font-weight: 500;
  position: relative;
}
.active-color::after {
    content: '';
    position: absolute;
    width: 100% !important;
    height: 3px;
    margin-top: 5px;
    display: block;
    background-color: #78387B;
}
.link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    margin-top: 23px;
    display: block;
    background: #78387B;
    transition: all .5s ease;
    
}
.link:hover::after {
    width: 100%;
    left: 0;
    background: #78387B;
}

.list-games {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    transition: all .4s ease-out;
}
.list-games:hover {
    background: hsla(0,0%,98%,.6);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
}
.small-price {
    font-size: 10px;
    text-decoration: line-through;
}
.new_price-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sale {
    margin-right: 8px;
    border-radius: 2px;
    background: #78387b;
    color: #fff;
    font-weight: 700;
    padding: 6px 8px;
}
.add-to-cart {
    display: none !important;
    margin-left: 10px;
    padding: 6px;
    background-color: #A1D242;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #7fab34;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.35);
    
}
.list-games:hover .add-to-cart {
    display: block !important;
}

.align-end {
    display: flex;
    justify-content: flex-end;
}

footer {
    background-color: #262626;
    
}
.grid-img img {
    object-fit: cover;
}
.grid-img img:hover {
    opacity: 0.7;
    transition: all .5s ease;
}

.no-des {
   padding: 1px;
}
.footer-list a {
    margin-right: 16px;
}
.social a {
    margin-right: 10px;
}
.active-link {
    color: #86328a !important;
}
.download {
    background: url('https://menu-static.gog-statics.com/assets/img/galaxy_button_bg.jpg');
   width: 250px;
    height: 58px;
    padding-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.73), inset 0 0 3px 1px #A268BD;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.fa-download {
    position: absolute;
    left: 15px;
    bottom: 20px;
}
.list-menu-footer a {
    margin: 0 8px 9px;
}
.card {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    border: none;
}

/* .pad-second-col .col-6 {
    margin-bottom: 5px; 
} */

#multi-item-example-3 .card {
   height: 100%;
   width: 100%;
   display: relative;
   transition: all .2s ease-in-out;


}
#multi-item-example-3 .card-body {
    position: absolute;
    bottom: 0;
    line-height: 1.2;
} 
#multi-item-example-3 img {
    height: 200px;
    object-fit: cover;
}
#multi-item-example-3 .card:hover {
    opacity: 0.8;
}
#multi-item-example-3 .card-title {
    font-size: 16px;
}
.item-last-caros {
    /* margin-left: 5px; */
    margin-bottom: 5px;
}
.time {
   font-size: 10px;
}


/* .product-info-last i {
    width: 13px;
    height: 13px;
} */
.product-info-last {

    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.fa-comment {
    color: #fff;
}
.card-body {
    width: 100%;
}